h1 {
    text-align: center;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-color: black;
    border: 10px;
    
}

.article{
    padding: 5%;
}

p {
    color: red;
}